*{
    font-family: 'Roboto', sans-serif;
}
/* table section */
hr{
    border: 5px solid #e6e6e6;
    border-radius: 5px;
}
/* sale sectio */

div .sale-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
div .sale-section{
    width: 99%;
}


/* hot collection section */
div .hot-collection img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* hot collection section */




/*md-shahin section  */

div .md-shahin img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* footer section */

footer{
    background-color: #1d1d1d;
    color: #ededed;
}

footer .subscribe-btn{
    color: #f9daf7;
    background-color: #e13ed7;
}

/* visa section */
div .visa-section{
    height: 10vh;
    background-color: black;
    color: white;
}

div .visa-section h6{
    color: #efefef;
    padding-top: 4vh;
    padding-left:35vh;
}
